<div class="account-wrapper">
  <div class="account-header text-center">
    <h1 class="account-title">Join Our Cooking Community</h1>
    <p class="account-description">
      Create a free account to access recipes, user profiles, nutrition calculator,
      and AI recipe generation features. Start your culinary journey today!
    </p>
  </div>

  <div class="row account-content">
    <div class="col-md-6">
      <app-login></app-login>
    </div>
    
    <div class="col-md-6">
      <app-new-account></app-new-account>
    </div>
  </div>

  <br>
  
</div>