.header {
  background-color: #f8f4e9;
}


.navbar.bg-light {
  background-color: #294c25 !important;

  .nav-link {
    color: white !important;
    font-size: medium;
    position: relative;

    &:hover {
      color: #f8f4e9 !important;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #f8f4e9;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;
  margin-right: 35px;
  position: relative;
  right: 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(248, 244, 233, 0.25);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #294c25;
    padding: 10px;
  }

  .nav-item {
    padding: 5px 0;
  }
}