.footer {
    background-color: #294c25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    p {
        color: #f8f4e9;
        font-size: smaller;
        margin: 0;
    }
}