<div class="container-fluid">

    <h1 class="page-title">All Recipes</h1>
    
    <div class="page-description">
      <p>Explore our delicious collection of nutritious recipes crafted by our community. Whether you're looking for protein-packed meals or low-carb delights, you'll find something to satisfy your cravings while meeting your health goals!</p>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="filter-container">
          <div class="filter-header">
            <h5>Filter Recipes</h5>
          </div>
          

          <form>
            <div class="row">

              <div class="col-sm-6 col-md-2">
                <label class="form-label">Calories</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Min" disabled>
                  <span class="input-group-text">to</span>
                  <input type="number" class="form-control" placeholder="Max" disabled>
                </div>
              </div>
  

              <div class="col-sm-6 col-md-2">
                <label class="form-label">Protein (g)</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Min" disabled>
                  <span class="input-group-text">to</span>
                  <input type="number" class="form-control" placeholder="Max" disabled>
                </div>
              </div>
  

              <div class="col-sm-6 col-md-2">
                <label class="form-label">Carbs (g)</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Min" disabled>
                  <span class="input-group-text">to</span>
                  <input type="number" class="form-control" placeholder="Max" disabled>
                </div>
              </div>
  

              <div class="col-sm-6 col-md-2">
                <label class="form-label">Fats (g)</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Min" disabled>
                  <span class="input-group-text">to</span>
                  <input type="number" class="form-control" placeholder="Max" disabled>
                </div>
              </div>
  

              <div class="col-sm-6 col-md-2">
                <label for="sortBySelect" class="form-label">Sort by</label>
                <select id="sortBySelect" class="form-select" disabled>
                  <option>Recently added</option>
                </select>
              </div>
  

              <div class="col-sm-6 col-md-2">
                <div class="action-buttons">
                  <button type="button" class="btn-apply" disabled>
                    <i class="bi bi-funnel"></i>Apply
                  </button>
                  <button type="button" class="btn-reset" disabled>
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  

    <div class="recipe-grid">

      <div class="recipe-item">
        <div class="recipe-card">
          <div class="recipe-image-container">
            <img src="https://scyefinalproject.sgp1.digitaloceanspaces.com/recipes/28.png" alt="Anti-Inflammatory Chocolate Strawberry Smoothie">
          </div>
          <div class="recipe-content">
            <h5 class="recipe-title">Anti-Inflammatory Chocolate Strawberry Smoothie</h5>
            <p class="recipe-author">
              By <span class="username-link">fred</span>
            </p>
  
            <div class="nutrition-info">
              <div class="nutrition-item">
                <span class="nutrition-label">Calories:</span>
                <span class="nutrition-value">123 kcals</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Protein:</span>
                <span class="nutrition-value">3g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Carbs:</span>
                <span class="nutrition-value">30g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Fats:</span>
                <span class="nutrition-value">1g</span>
              </div>
            </div>
          </div>
          <div class="recipe-footer">
            <small class="likes-count">
              128 likes
            </small>
            <button class="like-button-preview" disabled>
              <i class="bi bi-heart"></i> Like
            </button>
          </div>
        </div>
      </div>
  

      <div class="recipe-item">
        <div class="recipe-card">
          <div class="recipe-image-container">
            <img src="https://scyefinalproject.sgp1.digitaloceanspaces.com/recipes/27.png" alt="One-Pan Chicken Parmesan Pasta">
          </div>
          <div class="recipe-content">
            <h5 class="recipe-title">One-Pan Chicken Parmesan Pasta</h5>
            <p class="recipe-author">
              By <span class="username-link">fred</span>
            </p>
  
            <div class="nutrition-info">
              <div class="nutrition-item">
                <span class="nutrition-label">Calories:</span>
                <span class="nutrition-value">538 kcals</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Protein:</span>
                <span class="nutrition-value">41g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Carbs:</span>
                <span class="nutrition-value">56g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Fats:</span>
                <span class="nutrition-value">17g</span>
              </div>
            </div>
          </div>
          <div class="recipe-footer">
            <small class="likes-count">
              391 likes
            </small>
            <button class="like-button-preview" disabled>
              <i class="bi bi-heart"></i> Like
            </button>
          </div>
        </div>
      </div>
  

      <div class="recipe-item">
        <div class="recipe-card">
          <div class="recipe-image-container">
            <img src="https://scyefinalproject.sgp1.digitaloceanspaces.com/recipes/26.png" alt="Sheet-Pan Egg Sandwiches for a Crowd">
          </div>
          <div class="recipe-content">
            <h5 class="recipe-title">Sheet-Pan Egg Sandwiches for a Crowd</h5>
            <p class="recipe-author">
              By <span class="username-link">fred</span>
            </p>
  
            <div class="nutrition-info">
              <div class="nutrition-item">
                <span class="nutrition-label">Calories:</span>
                <span class="nutrition-value">309 kcals</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Protein:</span>
                <span class="nutrition-value">20g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Carbs:</span>
                <span class="nutrition-value">30g</span>
              </div>
              <div class="nutrition-item">
                <span class="nutrition-label">Fats:</span>
                <span class="nutrition-value">13g</span>
              </div>
            </div>
          </div>
          <div class="recipe-footer">
            <small class="likes-count">
              92 likes
            </small>
            <button class="like-button-preview" disabled>
              <i class="bi bi-heart"></i> Like
            </button>
          </div>
        </div>
      </div>
    </div>
  

    <div class="preview-overlay">
      <div class="overlay-gradient"></div>
      <div class="overlay-content">
        <h2>Want to see more?</h2>
        <p>Create an account to access our full recipe collection, save favorites to your cookbook, and track your nutrition goals!</p>
        <div class="overlay-buttons">
          <a href="/login" class="btn-login">Log In or Sign Up for Free</a>
        </div>
      </div>
    </div>
  </div>